body
    form(action='submitjoke' method='POST')
        label(for="joke") Joke: 
        br
        input(type="text", placeholder='write joke here' name='joketb')

        button(type="submit") Add joke
