body
    form(action='loginsubmit' method='POST')
        label(for="joketb") username: 
        br
        input(type="text", placeholder='username' name='username')

        button(type="submit") login
